body{
	background-color: #fff !important;
}
.title{
	padding-top: 32px;
	margin: 0 auto;
	color: #FFF;
	font-weight: 800;
	text-align: center;
	font-size: 40px;
}
.page{
	background-color: none;
	width: 1000px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.paragraph{
	padding: 12px;
	border: 1px solid #000;
	font-weight: 400;
	font-color: #222;
}
.cards{
	margin: 0 auto;
}
.cards-wrapper{
	float: left;
	width: 33%;
}
.cards-title{
	width: 100%;
	background-color: #363636;
	border: 1px solid #818181;
	border-left: none;
	border-right: none;
	height: 50px;
	text-align: center;
}
.cards-title__text{
	vertical-align: middle;
	color: #939393;
	font-size: 20px;
}
.cards-item{
	border-radius: 2px;
	border: none;
	height: 300px;
	margin: 3px;
	padding: 5px;
	color: #FFF;
	transition: transform .4s
}

.cards-item--blue{
	background: #6B6B6B;
}
.cards-item--red{
	background: #6B6B6B;
}
.cards-item--green{
	background: #6B6B6B;
}
.cards-body{
	vertical-align: middle;
	text-align: center;
}
.cards-body__title{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
}
.cards-body__paragraph{
	width: 100%;
	word-wrap: break-word;
	text-align: justify;
	padding: 5px;
}
.section-background{
	background-color: #252525;
}
.section-background--orange{
	background-color: #AAA;
}
.section-background--blue{
	background-color: #647EC8;
}
.section-background--red{
	background-color: #252525;
}
.section-background--green{
	background-color: #bebebe;
}
.section_image{
	width: 100% !important;
	height: auto !important;
	position: relative !important;
	padding: 12px !important;
}
.section-col-50{
	width: 100%;
}
.section-title{
	font-size: 28px;
	margin-left: 12px;
}
.footer{
	width: 100%;
	text-align: center;
	background-color: #101010;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 18px;
}
.footer-left-col{
	text-align: center;
}
.footer-right-col{
	text-align: center;
}

.text-color{
	color: #000;
}

/*somente para celular*/
@media only screen and (max-width: 768px) {
	.cards-wrapper{
		float: initial;
		width: 100%;
	}
	.cards-item{
		border-radius: 0;
		padding: 0;
		margin: 0;
	}
	.page{
		width: 100%;
	}
}

/*somente para desktop*/
@media only screen and (min-width: 768px) {
	.cards-title{
		display: none;
	}
	.collapse{
		display: block !important;
	}
	.footer-left-col{
		width: 66%;
		float: left;
		text-align: left;
		padding: 12px;
	}
	.footer-right-col{
		padding: 12px;
		width: 33%;
		float: left;
		text-align: left;
	}
	.section-col-50{
		width: 50%;
		float: left;
		font-size: 18px;
	}
	.section_image{
		width: 100% !important;
		height: auto !important;
		position: relative !important;
		padding: 12px !important;
		margin-top: 18px; 
	}
	.footer{
		height: 200px;
	}
	.section-background{
		padding: 12px 5px;
	}
	
	.cards-wrapper{
		opacity: 0.5;
	}
	.cards-wrapper:hover{
		opacity: 1;
	}
}
		body {
			position: relative;
		}
		#section1 {padding: 0; padding-top:10px;color: #fff; background-color: none;}
		#section2 {padding-top:10px;height:auto;color: #fff; background-color: none;}
		#section3 {padding-top:10px;height:auto;color: #fff; background-color: none;}
